# dependencies
/node_modules

# testing
/coverage
/test-results

# production
/build

# vercel link
.vercel

# misc
.DS_Store
.env*.local

npm-debug.log*
pnpm-debug.log*

# chunk runtime state
/.chunk/validate-pool.json
