version: 2.1 # Use version 2.1 to enable Orb usage.

parameters:
  skipUnitTests:
    description: if set to true will not build the c++ unit tests
    type: boolean
    default: true
  skipSystemTests:
    description: if set to true will not build the c++ system tests
    type: boolean
    default: true
  updateTranslation:
    description: if set to true will update the translation files
    type: boolean
    default: true


jobs:
  Prep1:
    docker:
      - image: cimg/base:edge
    steps:
      - checkout
      - run: echo "This was triggered by << pipeline.trigger_source >>"
  Prep2:
    docker:
      - image: cimg/base:edge
    steps:
      - checkout
      - run: echo "This was triggered by << pipeline.trigger_source >>"
  Prep3:
    docker:
      - image: cimg/base:edge
    steps:
      - checkout
      - run: echo "This was triggered by << pipeline.trigger_source >>"
      - run:
          command: |
            exit 1
            
  release:
    docker:
      - image: cimg/base:edge
    parameters:
      release_type:
        type: string
        default: "release"
    steps:
      - checkout
      - run: echo "This was triggered by << pipeline.trigger_source >>"


workflows:
  unit_tests_workflow: 
    jobs:
    - Prep1
    - Prep2
    - Prep3